@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  cursor: default;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #020617;
}

::-webkit-scrollbar-thumb {
  background: #d946ef;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #c026d3;
}

.glass-panel {
  @apply backdrop-blur-xl bg-white/5 border border-white/10 shadow-2xl;
}

.text-gradient {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-white via-fuchsia-200 to-fuchsia-500;
}